body,html{
	height: 100%;
	background-image: url("https://img.itdg.com.br/tdg/images/recipes/000/002/658/277270/277270_original.jpg?mode=crop&width=710&height=400");
	background-size: 100%;
}

#header{
	text-align: center;
	height: 20%;
	border: 1px solid #000;
	margin: 3px;
	color: #ebdaa6;
	background-color: #2d3444;
}

#main{
	border: 1px solid #000;
	display: grid;
	grid-column-gap: 1%;
	margin: 3px;
	text-align: center;
	padding: 5px 7% 5px;
	background-color: #2d3444;
}

#main #content{
	border: 1px solid #000;
	margin: 3px;
	background-color: #ebdaa6;
	color: #2d3444;
}

#menu{
	height: 7%;
	border: 1px solid #000;
	margin: 3px;
	color: #ebdaa6;
	background-color: #2d3444;
}

#menu ul{
	display: flex;
	list-style: none;
	padding: 0px;
}
#menu a{
	color: #ebdaa6;
}

#menu ul li{
	border: 1px solid #000;
	margin: 3px;
	padding: 5px;
}
 #formulario{
 	color: #2F4F4F;
}


#formulario label{
 	display: block;
}


#table tr, td{
	border: 2px solid #000;

}

.table {
    width: 50% !important;
    margin: auto;
}

#footer{
	border: 1px solid #000;
	background-color: #2d3444;
	color: #ebdaa6;
}
